html {
  scroll-behavior: smooth;
  color:black;
}

body {
  max-width: 400px;
  margin: auto;
  text-align: left;
  border: 2px solid;
  font-family: Arial, Helvetica, sans-serif;
}

header, main {
  margin: 20px;
}

header {
  margin-bottom: 50px;
}

nav {
  margin-top: 50px;
}

img {
  max-width: 100%;
  text-align: center;
  
}

h1 {
  text-align: center;
  font-size: 60px;
}

.h2-footer{
  text-align: center;
  margin-top: px;
}

h1, h2 {
  color: #A32825;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.portrait-hans {
  width: 150px;
  
}

.red-text-hans {
  color:#A32825;
}

.red-text-hans-2 {
  color:#A32825;
}

.legende-koury-angelo {
  color:#A32825;
  font-size: 10px;
}

.legende-coachella {
  color:#A32825;
}

.legende-ridley-scott {
  color:#A32825;
}

.titre-films-populaires {
  color:#A32825;
}

.alien {
  color:#A32825;
}

.blade-runner {
  color:#A32825;
}

.texte-thelma-louise {
  color:#A32825;
}

.texte-thelma-louise-2 {
  color:#A32825;
}

.sommaire{
  text-align: center;
}

.separation {
  margin: 60px;
  border: 1px solid;
}

.div-hans {
  margin-bottom: 50px;
}

.div-thunderbird {
  margin-bottom: 50px;
}

.instagram {
  font-size: 30px;
  text-align: center;
}

.mail {
  font-size: 30px;
  text-align: center;
}

footer{
  background-image: url(../img/studio_1980.png);
  background-size: cover;
  height: 230px;
}

